* {
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(30,74,115);
    background: linear-gradient(90deg, rgba(30,74,115,1) 0%, rgba(0,11,36,1) 2%, rgba(44,139,218,1) 100%, rgba(24,108,205,1) 100%); 
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slider-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbffee;
}

.slider{
    height: 50%;
    width: 30%;
    box-shadow: 0 5px 10px #434547;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }