body {
  
    background: rgb(30,74,115);
    background: linear-gradient(90deg, rgba(30,74,115,1) 0%, rgba(0,0,0,1) 0%, rgba(11,249,232,1) 0%, rgba(24,108,205,1) 95%); 
  }
  
  #soundfile {
    position: absolute;
    top: 3.5%;
    left: 37%;
    transform: translate(-50%,-50%);
    
  }
  label {
    display: inline-block;
    background-color: rgb(150, 150, 205);
    padding: 16px;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #c5a880;
    text-align: center;
      position: absolute;
    top: 2.5%;
    left: 35%;
    transform: translate(-50%,-50%);
    font-size:20px;
    }
  #canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vmin;
    height: 90vmin;
    transform: translate(-50%,-50%);
    background-size: 1000px 628px;
  }
  
  audio {
    position: absolute;
    left: 60%;
    top: 5%;
    transform: translate(-50%,-50%);
    width: 40vmin;
  }
  